services:
  # CAPA DE DATOS: Redis accesible desde bridge y host
  redis:
    image: redis:7-alpine
    container_name: edge_redis
    restart: always
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6379:6379"  # <--- Crucial para el PLC Reader (localhost)
    volumes:
      - redis_data:/data
    networks:
      - edge_network

  # CAPA DE ADQUISICIÓN: Modo Host para hablar con el PLC físico
  plc_reader:
    build: ./plc-reader
    container_name: edge_plc_reader
    restart: always
    env_file: ./.env
    network_mode: host  # <--- Ve el PLC en 192.168.x.x y Redis en 127.0.0.1
    depends_on:
      - redis

  # INGESTOR M-BITS: Red Bridge para resolver DNS de Mosquitto
  ingestor:
    build: ./ingestor
    container_name: edge_ingestor
    restart: always
    ports:
      - "9105:9105"
    env_file: ./.env
    networks:
      - edge_network  # <--- Ve a Redis por su nombre "redis"
    depends_on:
      - redis

  # INGESTOR D-TEMPS: Red Bridge
  temperature_ingestor:
    build: ./temperature_ingestor
    container_name: edge_temperature_ingestor
    restart: always
    ports:
      - "9106:9106"
    env_file: ./.env
    networks:
      - edge_network
    depends_on:
      - redis

  sai-ingestor:
    build: ./sai-ingestor
    container_name: edge_sai_ingestor
    restart: always
    ports:
      - "9107:9107"
    env_file: ./.env
    networks:
      - edge_network
    depends_on:
      - redis

  # MONITOREO
  prometheus:
    image: prom/prometheus:latest
    container_name: edge_prometheus
    restart: always
    extra_hosts:
      - "host.docker.internal:host-gateway" # <--- ESTO ES VITAL
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    networks:
      - edge_network

  grafana:
    image: grafana/grafana:latest
    container_name: edge_grafana
    restart: always
    volumes:
      - grafana_data:/var/lib/grafana
    ports:
      - "3000:3000"
    networks:
      - edge_network

  blackbox_exporter:
    image: prom/blackbox-exporter:latest
    container_name: edge_blackbox
    restart: always
    networks:
      - edge_network
    cap_add:
      - NET_RAW

networks:
  edge_network:
    driver: bridge

volumes:
  redis_data:
  prometheus_data:
  grafana_data: