services:
#  pushover-notifier:
#    build: .
#    env_file:
#      - .env
#    ports:
#      - "8800:8000"
#    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: edge_redis
    restart: unless-stopped
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data

  plc_reader:
    build: ./plc-reader
    container_name: edge_plc_reader
    restart: unless-stopped
    env_file: ./.env
    depends_on: [redis]
    # logging:
    #   driver: "json-file"
    #   options:
    #     max-size: "10m"
    #     max-file: "3"


  ingestor:
    build: ./ingestor
    container_name: edge_ingestor
    restart: unless-stopped
    env_file: ./.env
    depends_on: [redis]
    # logging:
    #   driver: "json-file"
    #   options:
    #     max-size: "10m"
    #     max-file: "3"

  plc-temperature-reader:
    build: ./plc-temperature-reader
    container_name: edge_plc_temperature_reader
    restart: unless-stopped
    env_file: ./.env
    depends_on: [redis]
   
  temperature-ingestor:
    build: ./temperature_ingestor
    container_name: edge_temperature_ingestor
    restart: unless-stopped
    env_file: ./.env
    depends_on: [redis]
   


  loki:
    image: grafana/loki:2.9.0
    container_name: edge_loki
    restart: unless-stopped
    volumes:
      - ./loki-config.yml:/etc/loki/config.yml:ro
      - loki_data:/loki
    command: -config.file=/etc/loki/config.yml
    ports:
      - "3100:3100"

  promtail:
    image: grafana/promtail:2.8.0
    container_name: edge_promtail
    restart: unless-stopped
    volumes:
      - ./promtail-config.yml:/etc/promtail/config.yml:ro
      - /var/snap/docker/common/var-lib-docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki
      - plc_reader
      - ingestor
      - plc-temperature-reader # <--- AÑADIDO: Logs del Lector de Temperaturas
      - temperature-ingestor   # <--- AÑADIDO: Logs del Ingestor de Temperaturas


  blackbox:
    image: prom/blackbox-exporter:latest
    container_name: edge_blackbox
    restart: unless-stopped
    cap_add:
      - NET_RAW
    volumes:
      - ./blackbox.yml:/etc/blackbox_exporter/config.yml:ro
    command:
      - --config.file=/etc/blackbox_exporter/config.yml
    ports:
      - "9115:9115"


  prometheus:
    image: prom/prometheus:latest
    container_name: edge_prometheus
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --web.enable-lifecycle
    volumes:
      # Mapeamos el archivo de configuración local a la ruta del contenedor
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      # Volumen persistente para los datos de las series temporales de Prometheus
      - prometheus_data:/prometheus
    ports:
      - "9090:9090" # Puerto de Prometheus UI
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: edge_grafana
    volumes:
      # Volumen persistente para la base de datos de Grafana
      - grafana_data:/var/lib/grafana
      # Para aprovisionar automáticamente la fuente de datos (Prometheus)
      - ./grafana/provisioning/:/etc/grafana/provisioning/
    #environment:
      # Credenciales iniciales (¡CÁMBIALAS!)
     # - GF_SECURITY_ADMIN_USER=admin
     # - GF_SECURITY_ADMIN_PASSWORD=password
    env_file:
      - ./.env
    ports:
      - "3000:3000" # Puerto de Grafana UI
    depends_on:
      - prometheus # Asegura que Prometheus esté listo antes que Grafana
    restart: unless-stopped

volumes:
  redis_data:
  prometheus_data: # Nuevo volumen para Prometheus
  grafana_data:    # Nuevo volumen para Grafana
  loki_data:    ### NUEVO volumen para los logs de Loki
